@import "./../../../styles/variables";

.blog__list {
  width: 100%;
  display: flex;

  flex-wrap: wrap;

  &--item {
    width: 100%;
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .blog__list {
    gap: 8%;
    &--item {
      width: 46%;
      margin-bottom: 12.8rem;
    }
  }
}
