@import "./../../styles/variables";

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: $color-primary-500;
  padding: 10rem 0 10rem 0;
}
.hero-section__logo {
  flex: 1;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 80%;
  }
}
.title {
  @include h1Font;
}
.subtext {
  text-align: center;
  p {
    @include bodyFontMedium;
    margin-bottom: 5rem;
  }
}
.info-1 {
  position: absolute;
  top: 10rem;
  left: 10rem;
}

@media screen and (max-width: $breakpoint-tablet) {
  .hero-section {
    padding: 15rem 3rem 5rem 3rem;
  }
  .title {
    text-align: center;
    @include h3FontRegular;
  }
  .hero-section__logo {
    img {
      width: 16.8rem;
      height: 14.8rem;
    }
  }
}
