@import "./../../styles/variables";
.button {
  display: inline-block;
  background-color: transparent;
  border-radius: 1.6rem;
  border: 0.2rem solid $color-light;
  text-transform: uppercase;
  @include buttonFontRegular;
  color: $color-light;
  transition: 0.2s all;
  text-decoration: none;
  &:hover {
    background-color: $color-light;
    color: $color-primary-500;
  }
}

.wide {
  padding: 1.6rem 6.4rem;
}

.regular {
  padding: 1.6rem 2.4rem;
}
