@import "./variables";
.blog {
  @include PagePaddingMobile;
  &--title {
    @include h2Font;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
  }
  &__header {
    border-bottom: 2px solid $color-primary-300;
    padding-bottom: 1.6rem;
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .blog {
    @include pagePaddingDesktop;
    max-width: $container-max-width;
    margin: 0 auto;
  }
}
